
<ion-content>
<div class="background-pic">
  <div class="background-filter">
    <div class="shape"><img src="../../assets/shape.svg" /></div>

    <ion-card>
      <ion-card-header>
        <ion-card-title>
          ForgotPassword!
        </ion-card-title>
        <ion-card-subtitle>
          Enter Your <strong>Email</strong> to
          Reset
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-input placeholder="Email Adress"></ion-input>
        </ion-item>

        <div class="bottom-section">
          <ion-button>Reset Password</ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</div>

</ion-content>
