
<div class="middle-button-container">
    <p style="text-align:center;">
     <ion-fab style="margin-top: -75px; margin-left: -30px;">
     <ion-fab-button style="--background:#FFFFFF" size="small">
      <ion-icon name="search" style="color:#3F9B99" size="small"></ion-icon>
    </ion-fab-button>
     </ion-fab>
    </p>
</div>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon src="assets/restaurant_menu.svg"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="location">
      <ion-icon src="assets/Location.svg"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="search">
      <!-- <ion-icon src="assets/Location.svg"></ion-icon> -->
    </ion-tab-button>
    <ion-tab-button tab="profile">
      <ion-icon src="assets/bookmark.svg"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="profile">
      <ion-icon src="assets/account_circle.svg"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>